[Unit]
Description=Runner for Chien Ou Chat app
After=network.target

[Service]
WorkingDirectory=/home/kenny/workspace/find_a_fluff/rel/find_a_fluff
ExecStart=/home/kenny/workspace/find_a_fluff/rel/find_a_fluff/bin/find_a_fluff start
ExecStop=/home/kenny/workspace/find_a_fluff/rel/find_a_fluff/bin/find_a_fluff ExecStop
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
